body {
  padding: 0%;
  margin: 0%;
  /* background-image: url("./images/image2.jpg"); */
  overflow: auto;
  background-size: cover;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.name {
  text-transform: uppercase;
  color: white;
  font-size: larger;
  font-weight: 600;
  font-stretch: expanded;
  padding-top: 2rem;
  padding-left: 2rem;
}
.line {
  text-transform: capitalize;
  text-shadow: 6px;
  color: white;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: narrower;
  margin-left: 2rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(46% 0, 100% 0, 100% 100%, 34% 100%);
  padding: 1rem;
}

a {
  text-decoration: none;
  color: white !important;
  text-transform: uppercase;
  margin-left: 6px;
  justify-content: space-between;
  padding: 1rem;
  align-items: flex-end;
}

a:hover {
  color: rgb(32, 245, 245);
}
.active {
  color: rgb(32, 245, 245) !important;
}
.about {
  padding-top: 6rem;
  color: white;
  font-size: large;
  text-decoration: wavy;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}
.typed-text {
  letter-spacing: 1.5px;
}
.cursor {
  display: inline-block;
  width: 1px;
  background-color: #ccc;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
.download{
  padding-top:37%;
  padding-left: 6rem;
}
.paragraph {
  margin: 0;
  padding: 0;
  word-break:keep-all;

}
.typed-text {
  word-break: break-all;
}
.last {
  display: flex;
  padding-top: 2rem;
  padding-left: 6rem;
}
.b4,
.b3,
.b2,
.b1 {
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
}
.navigator{
  display: none;
}
@media only screen and (max-width:830px ){
.navigator{
  display: flex;
    color: white;
    justify-content: flex-end;

    position: relative;
    padding-top: 4rem;
    position: relative;
    padding-bottom: 3rem;


}

.tabs{
    
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
   
}

  
.info {
  display: grid;
  grid-template-columns: auto auto;
  position:unset;
  background-color: transparent;
  clip-path: none;
 

}
.away{
  margin: 0;
  padding: 0;
  display: none;
}
.container{
  padding: 0;
  margin: 0;
}

.tabsinner{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;
  
}

.about{
  padding-top: 4rem;
  padding-left: 0;
  padding-right: 0;
  margin: 0;

}
.last{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: none;
  padding: 2rem;
}

.tabs-none{
  display: none;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover{
  background-color: transparent;
  

}
.download{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}


}
