* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* border: 3px solid black; */
}
@keyframes text {
  0% {
    color: rgb(46, 60, 60);
    margin-bottom: -40px;
  }
  30% {
    letter-spacing: 20px;
    margin-bottom: -40px;
    color: rgb(48, 33, 33);
  }
  85% {
    letter-spacing: 8px;
    margin-bottom: -40px;
    color: black;
  }
}
.text1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  

  animation: text 5s 7;
  color: black;
}
.text2 {
  text-transform: uppercase;

  font-size: 15px;
  color: black;
  /* padding: 2rem 0;s */
}
.container {
  margin: 1.5rem;
  
  /* margin: 2rem; */
}
.introduction {
  font-size: 2rem;
  padding-bottom: 3rem;
}
.what {
  display: grid;
  grid-template-columns: 2fr 5fr;
  /* border: 1px solid black; */
  justify-content: center;
  /* align-items: center; */
}
 /* .what div { */
  /* border: 2px solid black; */

.about p {
  margin-top: 1rem;
  font-size: 20px;
  color: black;
  

}
.part2 {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  align-items: center;
}
.skills p {
  margin-top: 1rem;
  font-size: 20px;
  color: black;
}
.path p {
  margin-top: 1rem;
  font-size: 20px;
  color: black;
}
.aboutImage {
  border-radius: 90px;
  width: 180px;

}
.footer {
  /* background-image: linear-gradient(to top right, yellow, blue); */
  font-size: 20px;
  padding: 1rem ;

  color: white;
  height: 5rem;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 26, 26);
  /* opacity: 0.3; */
  /* text-align: center; */
  

  

}
.footer a{
  text-align: center;
  padding: 0.8rem;
}
.footer > * {
  margin: 0 0.5rem;
  border: 1px solid white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* transform:translateY(10); */
  z-index: -1;
}
.footer > *:hover{
  color: white;
  background-color: lightblue;
}
@keyframes pict1 {
  0% {
    transform: rotate(-60deg);
  }
  50% {
    transform: rotate(-14deg);
  }
  100% {
    transform: rotate(-60deg);
  }
}
.pict1 {
  -webkit-animation: pict1 1.5s 7 alternate;
  -moz-animation: pict1 1.5s 7 alternate;
  -ms-animation: pict1 1.5s 7 alternate;
  -o-animation: pict1 1.5s 7 alternate;
  animation: pict1 1.5s 7 alternate;
}
@keyframes pict2 {
  0% {
    left: 100px;
    z-index: 1;
    transform: rotate(60deg);
  }
  49% {
    left: 350px;
    z-index: 1;
    transform: rotate(20deg);
  }
  50% {
    left: 350px;
    z-index: -3;
    transform: rotate(20deg);
  }
  100% {
    left: 100px;
    z-index: -3;
    transform: rotate(60deg);
  }
}
.pict2 {
  -webkit-animation: pict2 1.5s 7 alternate;
  -moz-animation: pict2 1.5s 7 alternate;
  -ms-animation: pict2 1.5s 7 alternate;
  -o-animation: pict2 1.5s 7 alternate;
  animation: pict2 1.5s 7 alternate;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  width: 50px;
  border-radius: 25px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {  
  /* background: #c00a0d;   */
  color: rgb(100, 12, 12); 
  text-align: center; 
}
.fa-linkedin {  
  /* background: #007bb5;   */
  color: white;  
}
.find{
  padding: 1.5rem !important; 
  font-size: 1.5rem !important;
  /* margin: 5rem !important; */
  font-style: italic;
  
}

@media only screen and (max-width: 600px) {
  body {
    /* display: block !important; */
  }
  body {
    width: 100% !important;
    /* background-image: none; */
    /* background-color: white !important; */
  }
  .text1 {
    text-transform: uppercase;
    font-size: 1rem !important;

    animation: text 5s 7;
    color: black;
  }
  .text2 {
    text-transform: uppercase;

    font-size: 0.5rem !important;
    color: black;
    /* padding: 2rem 0;s */
  }
  .introduction {
    font-size: 1.5em;
    padding: 1.5rem;
  }
  .what {
    display: block !important;
  }
  .aboutImage {
    width: 98%;
    height: 25rem;
    border-radius: 49px;
    /* border: 3px inset black; */
  }

  .about p {
    margin-top: 1rem;
    font-size: 20px;
  }
  .part2 {
    display: block !important;
  }
  .skills p {
    margin-top: 1rem;
    font-size: 20px;
  }
  .path p {
    margin-top: 1rem;
    font-size: 20px;
  }
 
  .footer {
    /* background-image: linear-gradient(to top right, yellow, blue); */
    font-size: 20px;
    margin-top: 3rem;

    /* color: white; */
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(29, 27, 27);
  
  }
  

}

